<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="module" src='./index.js'></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <ul id="myUL">
                        <li v-for="(mainItem,idx) in MainGroup.items" :key="idx">
                            <span v-if="haveSubItem(mainItem[1]).length > 0" class="caret">{{mainItem[0]}}</span>
                            <span v-else class="normal">{{mainItem[0]}}</span>
                                <ul>
                                    <li v-for="(subItem, subIdx) in haveSubItem(mainItem[1])" :key="subIdx">
                                        <span v-if="lastSubItem(subItem[0]).length > 0" class="caret">{{subItem[0]}}</span>
                                        <span v-else class="normal">{{subItem[0]}}</span>
                                            <ul>
                                                <li v-for="(lastItem, lastIdx) in lastSubItem(subItem[0])" :key="lastIdx">
                                                    <span class="normal">{{lastItem[0]}}</span>
                                                </li>
                                            </ul>
                                    </li>
                                </ul>
                        </li>
                    </ul>
                </v-container>
            </v-main>
        </v-app>
    </div>       
</body>
</html>